<h1>BURGER!</h1>

<div id="burgers">
    <ul>
        {{#each burger}}
          {{#unless devoured}}
            <span>{{this.id}}. {{this.burger_name}}</span>
            <button type="button" class="eatburger" id="eatId" dataId="{{this.id}}" dataNewDevoured="{{devoured}}">Eat It Now!</button>
          {{/unless}}
        {{/each}}
    </ul>
</div>
<div id="devouredBurgers">
    <ul>
        {{#each burger}}
          {{#if devoured}}
            <p>{{this.id}}. {{this.burger_name}}</p>
          {{/if}}
        {{/each}}
    </ul>
</div>



<h2>Add Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label class="food">Burger Name:</label>
    <input type="text" id="food" name="name">
  </div>

  <div class="form-group">
    <label class="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Yes!<br>
    <input type="radio" name="devoured" value="0"> No
  </div>

  <button type="submit" class="submitBurger">New Addition</button>
</form>